#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=pentoo-GUI-installer
GenericName=System Installer
TryExec=calamares
Exec=calamares-pkexec
Comment=Calamares — System Installer
Icon=pentoo
Path=/root/
Terminal=true
StartupNotify=false
Categories=Qt;System;
